<div class="about-image">
  <div class="about-text">
    <p>このサイトでは仲間を探すことができます。<br>
       自分の好きなゲームを共有したり<br>
       新しい仲間をつくったり<br>
       イベントに参加することができます。<br>
    </p>
    <h5>皆様のご参加を心よりお待ちしております。</h5>
  </div>
</div>
