<div class="top-image">
  <div class="top-text">
    <h4>ようこそ、COMMU_SHOWへ</h4>
    <p>このサイトはゲームが好きな人たちと<br>
       自由に交流できるコミュニティサイトです。<br>
    </p>
    <h4>さあ！同士よ、いざ行かん！</h4>
    </p>
  </div>
</div>



