<div class="container p-5">
  <div class="row ml-4">
    <h2>気になる投稿検索結果"<%= @q.game_body_cont %>"</h2>
  </div>
  <div class="row m-3">
    <% @results.each do |game| %>
      <%= render 'customer/games/game', game: game %>
    <% end %>
  </div>
</div>