<div class="text-center pt-2">
  <%= link_to "https://twitter.com/" do %>
    <i class="fab fa-twitter-square h2 m-1" style="color: #1da1f2;"></i>
  <% end %>

  <%= link_to "https://line.me/ja/" do %>
    <i class="fab fa-line h2 m-1" style="color: #00b900;"></i>
  <% end %>

  <%= link_to "https://www.facebook.com/" do %>
    <i class="fab fa-facebook-square h2 m-1" style="color: #1877f2;"></i>
  <% end %>

  <%= link_to "https://www.instagram.com/" do %>
    <i class="fab fa-instagram-square h2 m-1" style="color: #cf2e92;"></i>
  <% end %>
</div>

<div class="p-3">
  <p class="text-center text-light">©2023 COMMU_SHOW ALL Rights reserved</p>
</div>

